.contactColumnRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    color: var(--bgLight);
}

.contactColumn {
    background-color: var(--green);
    width: 400px;
    border-radius: 16px;
}