.navigation {
	width: 90vw;
	padding: 16px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.navElement {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* flex: 1 1 200px;  */
	gap: 12px;
}

.navElementLogo {
	/* flex: 0 0 auto;  */
	display: flex;
	justify-content: center;
	align-items: center;
}

.navElementLogo img {
	width: 120px;
	height: auto;
}

/* MOBILE */
@media (max-width: 768px) {
	.navigation {
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}

	.navElement {
		justify-content: center;
		flex-wrap: wrap;
		gap: 8px;
	}

	.navElement a {
		padding: 6px 8px;
		font-size: 14px;
		text-align: center;
	}
}