:root {
	font-family: Inter, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #452001;
	background-color: #faf6f3;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*For the topStripe text animation*/
	--duration: 48s; 
	--items: 8;

	/*colors*/
	--green: #026438;
	--orange: #F7CB6C;
	--brown: #452001;
	--bgLight: #faf6f3;

}

ul {
	list-style: none;
}

a {
	font-size: 16px;
	font-weight: 500;
	color: #452001;
	text-decoration: inherit;
	cursor: pointer;
}
a:hover {
	color: #367947;
}

body {
	margin: 0;
	/* display: flex; */
	place-items: top;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container {
	
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navContainer {
	position: sticky;
	top: 0;
	z-index: 1000;
	background: var(--bgLight);

	box-shadow:
		inset 0 4px 10px rgba(255, 255, 255, 0.15),
		inset 0 -6px 12px rgba(0, 0, 0, 0.08),
		0 -10px 20px rgba(0, 0, 0, 0.12),
		0 -2px 4px rgba(0, 0, 0, 0.06);
}

.navContainer::before {
	content: "";
	position: absolute;
	inset: 0;
	background: url('./assets/64507.jpg') center/cover no-repeat;
	opacity: 0.08; /* control strength */
	pointer-events: none;

}


@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
